
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link href="{{ 'tailwind.css' | asset_url }}" rel="stylesheet">
  </head>
  <body>
    <div style="display:none">
      {{content_for_header}}
      </div>
    <div id="app" class="h-full"></div>
    <div style="display:none">
      {{content_for_layout}}
    </div>
    <script src="{{ 'main.js' | asset_url }}"></script>
  </body>
  </html>
  
